@import 'variables.css';

.Home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: black;
  transition: background-color .5s;
  background-color: var(--free);
}

h1 {
  text-align: center;
}

.Table {
  font-size: 30px;
  display: table-header-group;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

.Head {
  font-weight: 500;
}

.name {
  font-weight: 300;
}

th {
  padding:0 35px 0 35px;
}

td {
  padding:0 35px 0 35px;
}

.availability {
  text-transform: uppercase;
  font-weight: 300;
}

}

.yellow {
  color: yellow
}
